@import '../../variables.scss';

.single-char__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  .single-char__back {
    min-width: 6.75rem;
    min-height: 1.5rem;
    display: flex;
    gap: 0.5rem;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.33;
    color: #000000;
    text-transform: uppercase;
    align-self: start;
    &:hover {
      background-color: $light-blue;
      border-radius: 0.3rem;
      box-shadow: 0px 1px 5px rgb(0 0 0 / 10%), 0px 3px 4px rgb(0 0 0 / 12%), 0px 2px 4px rgb(0 0 0 / 14%);
      transition: all 0.4s ease-in-out;
    }

    .single-char__arrow {
      width: 1.5rem;
      height: 1.5rem;
      background: no-repeat url('../../assets/img/arrow_back_24px.png');
    }
  }
  .single-char {
    display: flex;
    flex-direction: column;
    margin-top: 3.125rem;

    &__img {
      max-width: 300px;
      max-height: 300px;
      border-radius: 50%;
      align-self: center;      
    }
    
    &__name {
      font-size: 3rem;
      line-height: 1.17;
      color: #081F32;
      margin-top: 1rem;
      text-align: center;
    }
    
    &__info {
      margin-top: 28px;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .single-char__back {
        align-self: center;
        font-size: 1rem;    
      }
    }
    &__info-title {
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 1.2;
      letter-spacing: 0.15px;
      color: #8E8E93;
      align-self: center;
    }
    &__descr,
    &__item {
      display: flex;
      flex-direction: column;
    }
    &__item {
      height: 64px;
      justify-content: center;
      font-weight: 400;
      font-size: 1.14rem;
      line-height: 1.25;
      letter-spacing: 0.25px;
      color: #6E798C;
      border-bottom: 1px solid rgba(33, 33, 33, 0.08);
    }
    &__item_bold {
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.5;
      letter-spacing: 0.15px;
      color: #081F32;
    }    
  }

  @media (max-width: 767px){
    .single-char__img {
      max-width: 150px;
    }
    .single-char__name {
      font-size: 1.5rem;
    }
    .single-char__back_hide {
      display: none;
    }
  }
}


