.home-page {
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  
}
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &__nav {
    display: flex;
    align-self: flex-end;
    gap: 2rem;
  }
  &__logout-btn {
    background-color: transparent;
    border: none;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    letter-spacing: 0.3px;
    padding: 0 8px;
    color: #3c4043;
    cursor: pointer;
    border: 1px solid #dadce0;
    border-radius: 5px;
  }
  &__logout-btn:hover {
    background-color: #00b0c8;
    color: #ffffff;
  }
  &__text span {
    color: #00b0c8;
  }
  &__logo {  
    width: 59%;
    max-height: 200px;
    align-self: center;
  }

  @media (max-width: 767px){
    .header__logo {
      width: 100%;
    }
  }
}


